/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav ul {
  text-transform: uppercase;
}

nav ul a {
  font-size: 1.2rem;
}

select {
  display:block;
}